<?xml version="1.0" ?>
<model>
    <name>mug_apriltag</name>
    <version>1.0</version>
    <sdf version="1.6">mug_apriltag.sdf</sdf>
   
      <author>
       <name>Kenji Koide</name>
       <email>koide@dei.unipd.it</email>
      </author>
    
    <description>mug_apriltag model</description>
</model>

